In [ ]:
import sys
sys.path.insert(0, '../sbident')

import numpy as np
from sbident import SBIdent
from astropy.time import Time
from astropy.coordinates import SkyCoord
from astroquery.jplhorizons import Horizons
from astropy import units as u

### Simplest call

Call the JPL Small Body Identification API for an observer at MPC observatory code **567** looking at the sky centered on **center** at observation time **time**.

In [2]:
#setup some arguments for the call
center = SkyCoord(10, -20, unit="deg")
time = Time('2021-10-01 00:00:00')

In [3]:
#call the API
sbid0 = SBIdent('567', time, center)

#NOTE: the line below is an identical call invoked with keyword arguments
#sbid0 = SBIdent(location='567', obstime=time, location=center)

In [4]:
#number of results in table
len(sbid0.results)

1476

In [5]:
#first 5 results
sbid0.results[0:5]

<Table length=5>
    Object name     Astrometric RA (hh:mm:ss) ... Est. error Dec (")
       str39                   str8           ...        str5
------------------- ------------------------- ... ------------------
 149544 (2003 HY50)                  00:40:28 ...              21.96
 172806 (2004 GT10)                  00:40:34 ...              24.32
225866 (2001 XM223)                  00:39:17 ...              27.47
255370 (2005 WS111)                  00:41:45 ...              25.23
272760 (2005 YG152)                  00:38:35 ...              19.65

### A more typical simple case

Expand on the previous call.  This time limit objects returned to **19th magnitude** or less; expand the field of view **half-width to 1 degree** from the default 0.5; use **high precision** numerical integration model.

In [6]:
sbid1 = SBIdent('567', time, center, maglim=19, hwidth=1, precision='high')

In [7]:
len(sbid1.results)

7

In [8]:
sbid1.results

<Table length=7>
    Object name     Astrometric RA (hh:mm:ss) ... RA rate ("/h) Dec rate ("/h)
       str19                  str11           ...     str10         str10
------------------- ------------------------- ... ------------- --------------
  35889 (1999 JA81)               00:41:42.21 ...    -3.174E+01     -1.306E+01
 57855 (2001 XT144)               00:40:35.35 ...    -3.346E+01     -9.137E+00
  91101 (1998 HK15)               00:37:26.23 ...    -3.600E+01     -6.281E-01
 93867 (2000 WQ115)               00:41:43.02 ...    -3.701E+01     -8.077E-01
  120306 (2004 KE6)               00:36:31.25 ...    -3.658E+01     -2.018E+00
 172806 (2004 GT10)               00:40:33.40 ...    -2.659E+01     -1.926E+01
255370 (2005 WS111)               00:41:44.59 ...    -3.015E+01     -5.458E+00

### Use xobs for a spacecraft observer location

Using a Geocentric state vector and the **xobs** key with your location argument you can request data from the perspective of an arbitrary observer.  You can also use **xobs-hel** to specify an observer from a Heliocentric perspective.

In [10]:
#get state of TESS (-95) from Horizons at our observation time
#and convert it from [AU, AU/day] to [km, km/s]

au = (1*u.au).to(u.km).value #1AU in km
tess = Horizons(id='-95',location='500',epochs=time.jd,id_type='id').vectors() #state vector
tess_km = tess[['x','y','z','vx','vy','vz']].to_pandas().to_numpy()*au #convert to km
tess_km[:,3:] = tess_km[:,3:]/86400 #convert to km/s
tess_km = tess_km[0] #take the first row

#form the xobs dictionary that is the input for SBIdent location argument
xobs = ','.join([np.format_float_scientific(s,precision=5) for s in tess_km])
xobs_location = {'xobs': xobs}
xobs_location

{'xobs': '1.77056e+05,7.25964e+04,-9.42971e+04,1.52568e-01,1.28859e+00,-6.03427e-01'}

In [11]:
sbid2 = SBIdent(xobs_location, time, center, maglim=19, hwidth=1, precision='high')

In [12]:
len(sbid2.results)

8

In [13]:
sbid2.results

<Table length=8>
    Object name     Astrometric RA (hh:mm:ss) ... RA rate ("/h) Dec rate ("/h)
       str19                  str11           ...     str10         str10
------------------- ------------------------- ... ------------- --------------
  35889 (1999 JA81)               00:41:40.14 ...    -3.430E+01     -1.191E+01
 57855 (2001 XT144)               00:40:33.08 ...    -3.618E+01     -7.955E+00
  91101 (1998 HK15)               00:37:22.94 ...    -3.975E+01      1.021E+00
 93867 (2000 WQ115)               00:41:40.43 ...    -4.022E+01      6.468E-01
  120306 (2004 KE6)               00:36:28.07 ...    -4.014E+01     -4.498E-01
 172806 (2004 GT10)               00:40:30.83 ...    -2.969E+01     -1.789E+01
225866 (2001 XM223)               00:39:13.00 ...    -4.294E+01      7.225E+00
255370 (2005 WS111)               00:41:42.32 ...    -3.294E+01     -4.226E+00

### Request orbital elements instead of RA/DEC

Just like sbid1 but with orbital elements returned instead

In [14]:
sbid3 = SBIdent('567', time, center, maglim=19, hwidth=1, precision='high', elem=True)

In [15]:
len(sbid3.results)

7

In [16]:
sbid3.results

<Table length=7>
    Object name     Absolute magntiude (H) ... Inclination (deg) Epoch (JD)
       str19                 str5          ...        str9          str9
------------------- ---------------------- ... ----------------- ----------
  35889 (1999 JA81)                  14.59 ...         14.314646  2459396.5
 57855 (2001 XT144)                  14.94 ...         14.505108  2459396.5
  91101 (1998 HK15)                  14.82 ...         14.342675  2459396.5
 93867 (2000 WQ115)                  14.53 ...         15.313304  2459396.5
  120306 (2004 KE6)                  15.94 ...         14.095631  2459396.5
 172806 (2004 GT10)                  15.32 ...         16.169861  2459396.5
255370 (2005 WS111)                  15.07 ...         14.582037  2459396.5

### Use an edges based field of view instead of center based

Define boundaries on a field of view using edges instead of a center + half-width.  Use the **skycoord_to_jplstr** class method to translate a SkyCoord RA and DEC to the JPL API format.

In [17]:
edge1 = SBIdent.skycoord_to_jplstr(SkyCoord(10, -20, unit="deg"))
edge2 = SBIdent.skycoord_to_jplstr(SkyCoord(15, -25, unit="deg"))
edges_location = {'fov-ra-lim': "{},{}".format(edge1[0],edge2[0]), 
                'fov-dec-lim': "{},{}".format(edge1[1],edge2[1])}
edges_location

{'fov-ra-lim': '00-40-00.00,01-00-00.00',
 'fov-dec-lim': 'M20-00-00.00,M25-00-00.00'}

In [19]:
sbid4 = SBIdent('567', time, edges_location, maglim=19, precision='high')

In [20]:
len(sbid4.results)

16

In [21]:
#first 5 results
sbid4.results[0:5]

<Table length=5>
    Object name     Astrometric RA (hh:mm:ss) ... RA rate ("/h) Dec rate ("/h)
       str19                  str11           ...     str10         str10
------------------- ------------------------- ... ------------- --------------
6087 Lupo (1988 FK)               00:45:38.18 ...    -3.482E+01     -4.127E+01
   16668 (1993 XN1)               00:47:53.89 ...    -3.312E+01     -9.151E+00
   31074 (1996 WY1)               00:46:07.35 ...    -3.792E+01      2.897E+00
   33140 (1998 DF3)               00:52:50.10 ...    -3.114E+01     -1.319E+01
 50158 (2000 AR143)               00:53:09.98 ...    -2.560E+01     -3.384E+01