In [1]:
import sys
sys.path.insert(0, '../sbident')

import numpy as np
from sbident import SBIdent
from astropy.time import Time
from astropy.coordinates import SkyCoord
from astroquery.jplhorizons import Horizons
from astropy import units as u

# sbident examples

1. [Call the API with the minimum required arguments: observer location, time and field of view](#Simplest-call)
2. [Expand on the simple example to include a magnitude limit, a field of view width constraint](#A-more-typical-simple-case)
3. [Use a spacecraft as the observer location via Horizons](#Use-xobs-for-a-spacecraft-observer-location)
4. [Have the API return orbital elements rather than RA/DEC](#Request-orbital-elements-instead-of-RA/DEC)
5. [Defined the field of view via a boundary rather than center + half width](#Use-an-edges-based-field-of-view-instead-of-center-based)

### Simplest call

Call the JPL Small Body Identification API for an observer at MPC observatory code **567** looking at the sky centered on **center** at the observation **time**.

In [2]:
#setup some arguments for the call
center = SkyCoord(10, -20, unit="deg")
time = Time('2021-10-01 00:00:00')

In [3]:
#call the API
sbid1 = SBIdent('567', time, center)

#NOTE: the line below is an identical call invoked with keyword arguments
#sbid1 = SBIdent(location='567', obstime=time, location=center)

In [4]:
#number of results in table
len(sbid1.results)

13

In [5]:
#first 5 results
sbid1.results[0:5]

<Table length=5>
    Object name     Astrometric RA (hh:mm:ss) ... RA rate ("/h) Dec rate ("/h)
       str19                  str11           ...     str10         str10
------------------- ------------------------- ... ------------- --------------
 149544 (2003 HY50)               00:40:27.54 ...    -2.883E+01     -7.943E+00
 172806 (2004 GT10)               00:40:33.40 ...    -2.659E+01     -1.926E+01
225866 (2001 XM223)               00:39:16.59 ...    -3.871E+01      5.329E+00
255370 (2005 WS111)               00:41:44.58 ...    -3.015E+01     -5.458E+00
272760 (2005 YG152)               00:38:34.58 ...    -3.083E+01     -1.330E+01

### Add a magnitude constraint and expand the field of view

Expand on the previous call.  This time limit objects returned to **19th magnitude** or less; expand the field of view **half-width to 1 degree** from the default 0.5.

In [6]:
sbid2 = SBIdent('567', time, center, maglim=19, hwidth=1)

In [7]:
len(sbid2.results)

7

In [8]:
sbid2.results

<Table length=7>
    Object name     Astrometric RA (hh:mm:ss) ... RA rate ("/h) Dec rate ("/h)
       str19                  str11           ...     str10         str10
------------------- ------------------------- ... ------------- --------------
  35889 (1999 JA81)               00:41:42.21 ...    -3.174E+01     -1.306E+01
 57855 (2001 XT144)               00:40:35.35 ...    -3.346E+01     -9.137E+00
  91101 (1998 HK15)               00:37:26.23 ...    -3.600E+01     -6.281E-01
 93867 (2000 WQ115)               00:41:43.02 ...    -3.701E+01     -8.077E-01
  120306 (2004 KE6)               00:36:31.25 ...    -3.658E+01     -2.018E+00
 172806 (2004 GT10)               00:40:33.40 ...    -2.659E+01     -1.926E+01
255370 (2005 WS111)               00:41:44.58 ...    -3.015E+01     -5.458E+00

### Use xobs for a spacecraft observer location

Using a Geocentric state vector and the **xobs** key with your location argument you can request data from the perspective of an arbitrary observer.  You can also use **xobs-hel** to specify an observer from a Heliocentric perspective.

In [9]:
#get state of TESS (-95) from Horizons at our observation time
#and convert it from [AU, AU/day] to [km, km/s]

au = (1*u.au).to(u.km).value #1AU in km
tess = Horizons(id='-95',location='500',epochs=time.jd,id_type='id').vectors(refplane='earth') #state vector
tess_km = tess[['x','y','z','vx','vy','vz']].to_pandas().to_numpy()*au #convert to km
tess_km[:,3:] = tess_km[:,3:]/86400 #convert to km/s
tess_km = tess_km[0] #take the first row

#form the xobs dictionary that is the input for SBIdent location argument
xobs = ','.join([np.format_float_scientific(s,precision=5) for s in tess_km])
xobs_location = {'xobs': xobs}
xobs_location

{'xobs': '1.77056e+05,1.04115e+05,-5.76387e+04,1.52568e-01,1.42229e+00,-4.10623e-02'}

In [10]:
sbid3 = SBIdent(xobs_location, time, center, maglim=19, hwidth=1)

In [11]:
len(sbid3.results)

7

In [12]:
sbid3.results

<Table length=7>
    Object name     Astrometric RA (hh:mm:ss) ... RA rate ("/h) Dec rate ("/h)
       str19                  str11           ...     str10         str10
------------------- ------------------------- ... ------------- --------------
  35889 (1999 JA81)               00:41:38.47 ...    -3.466E+01     -1.338E+01
 57855 (2001 XT144)               00:40:31.29 ...    -3.656E+01     -9.510E+00
  91101 (1998 HK15)               00:37:20.49 ...    -4.027E+01     -1.105E+00
 93867 (2000 WQ115)               00:41:38.34 ...    -4.067E+01     -1.203E+00
  120306 (2004 KE6)               00:36:25.74 ...    -4.064E+01     -2.465E+00
 172806 (2004 GT10)               00:40:28.79 ...    -3.013E+01     -1.967E+01
255370 (2005 WS111)               00:41:40.48 ...    -3.333E+01     -5.831E+00

### Request orbital elements instead of RA/DEC

Just like 'sbid2' but with orbital elements returned instead

In [13]:
sbid4 = SBIdent('567', time, center, maglim=19, hwidth=1, elem=True)

In [14]:
len(sbid4.results)

7

In [15]:
sbid4.results

<Table length=7>
    Object name     Absolute magntiude (H) ... Inclination (deg) Epoch (JD)
       str19                 str5          ...        str9          str9
------------------- ---------------------- ... ----------------- ----------
  35889 (1999 JA81)                  14.60 ...         14.313334  2459600.5
 57855 (2001 XT144)                  14.95 ...         14.505240  2459600.5
  91101 (1998 HK15)                  14.84 ...         14.344499  2459600.5
 93867 (2000 WQ115)                  14.53 ...         15.316296  2459600.5
  120306 (2004 KE6)                  15.95 ...         14.097373  2459600.5
 172806 (2004 GT10)                  15.35 ...         16.168698  2459600.5
255370 (2005 WS111)                  15.10 ...         14.583276  2459600.5

### Use an edges-based field of view instead of center-based

Define boundaries on a field of view using edges instead of a center + half width.

In [16]:
edge1 = SkyCoord(10, -20, unit="deg") #RA/DEC corner 1
edge2 = SkyCoord(15, -25, unit="deg") #RA/DEC corner 2

In [17]:
sbid5 = SBIdent('567', time, [edge1, edge2], maglim=19)

In [18]:
len(sbid5.results)

16

In [19]:
#first 5 results
sbid5.results[0:5]

<Table length=5>
    Object name     Astrometric RA (hh:mm:ss) ... RA rate ("/h) Dec rate ("/h)
       str19                  str11           ...     str10         str10
------------------- ------------------------- ... ------------- --------------
6087 Lupo (1988 FK)               00:45:38.18 ...    -3.482E+01     -4.127E+01
   16668 (1993 XN1)               00:47:53.89 ...    -3.312E+01     -9.151E+00
   31074 (1996 WY1)               00:46:07.35 ...    -3.792E+01      2.897E+00
   33140 (1998 DF3)               00:52:50.10 ...    -3.114E+01     -1.319E+01
 50158 (2000 AR143)               00:53:09.98 ...    -2.560E+01     -3.384E+01